* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
}

p {
  border: 1px solid black;
  padding: 20px;
}